<mat-selection-list [multiple]="false">
  <div mat-subheader>Feeder</div>

  <mat-list-option (click)="filterPosts('all')">
    <mat-icon mat-list-icon>inbox</mat-icon>
    <div mat-line>All Posts</div>
  </mat-list-option>

  <mat-list-option (click)="filterPosts('unread')">
    <mat-icon mat-list-icon>all_inbox</mat-icon>
    <div mat-line>Unread</div>
  </mat-list-option>

  <mat-list-option (click)="filterPosts('liked')">
    <mat-icon mat-list-icon>star</mat-icon>
    <div mat-line>Stared</div>
  </mat-list-option>

</mat-selection-list>

<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="end center" class="feed-add-block">
  <button mat-button color="primary" (click)="openDialog()">Add Feed</button>
</div>
<div class="feeds-list">
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let feed of lStore | async" (click)="navigate(feed)">
      <mat-icon mat-list-icon>info</mat-icon>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div style="overflow: hidden">
          <div mat-line>{{feed.title}}</div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="removeFeed(feed)">
          <mat-icon>delete</mat-icon>
          <span>Remove Feed</span>
        </button>
        <button mat-menu-item (click)="reloadFeed(feed)">
          <mat-icon>update</mat-icon>
          <span>Reload Feed</span>
        </button>
      </mat-menu>
    </mat-list-option>
  </mat-selection-list>
</div>
